/*
    Document   : dash_plugin_news.css
    Created on : Aug 29, 2013, 21:25:30 PM
    Author     : Artur Barseghyan (artur.barseghyan@gmail.com)
    Description:
        News plugin styles for django-dash.
*/
.plugin-news_4x5 ul,
.plugin-news_2x5 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    clear: both;
}
    .plugin-news_4x5 ul li,
    .plugin-news_2x5 ul li {
        padding: 10px 0 0 0;
        margin: 0;
        display: block;
        clear: both;
    }
    .plugin-news_4x5 ul li:first-child,
    .plugin-news_2x5 ul li:first-child {
        padding: 0;
    }
        .plugin-news_4x5 ul li .date,
        .plugin-news_2x5 ul li .date {
            display: block;
            clear: left;
            font-size: 0.8em;
            padding: 0;
            color: #555;
        }

.plugin-news_4x5 .pagination-prev-next {
    width: 100px;
    bottom: 10px;
    left: 0;
    right: 0;
    clear: none;
    float: right;
}
    .plugin-news_4x5 .prevuous {
        display: block;
        float: left;
        text-indent: -9999px;
    }
    .plugin-news_4x5 .next {
        display: block;
        float: right;
    }

.plugin.plugin-news_4x5.width-4.height-5 {
    
}

.news-page-title {
    float: left;
}

.news-image {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}

.news-body {
    float: left;
    margin: 0;
    padding: 0;
    width: 80%;
}

.news-body p {
    display: block;
}