Django==1.5.5
South==0.8.2
django-admin-tools==0.5.1
django-autoslug==1.7.1
django-debug-toolbar==0.11.0
django-registration==1.0
ipdb==0.8
ipython==1.1.0
lorem-ipsum-generator==0.3
#MySQL-python==1.2.4
ordereddict==1.1
selenium==2.37.0
simple-timer==0.2
tox
