*.py[cod]
.hgignore~
.gitignore~
.hg/
.hgtags
.tox/
.travis.yml~

MANIFEST.in~
tmp/
.zip
/codebin/
/release/
/forks/
/deploy/
/examples/db/example.db
/examples/tmp/
/docs/dash.migrations.rst
/examples/logs/
/examples/media/news-images/
/examples/example/images/images/
/examples/media/dash-image-plugin-images/
/examples/media/news-images-/
/examples/media/cache/
/examples/static/
/news-images/
/delusionalinsanity.images/
/examples/media/delusionalinsanity.images-latest/
/examples/media/delusionalinsanity_images_latest.zip
/builddocs/
/builddocs.zip
/build/
/dist/
/src/django_dash.egg-info
/src/dash/clipboard.py
examples/example/local_settings.py
heroku_setup.py
