*.py[cod]
.hgignore~
.gitignore~
.hg/
.hgtags
.tox/
.travis.yml~

MANIFEST.in~
tmp/
.zip
release/
deploy/
example/db/example.db
example/tmp/
example/logs/
example/media/news-images/
example/example/images/images/
example/media/dash-image-plugin-images/
example/media/news-images-/
example/media/cache/
example/static/
news-images/
delusionalinsanity.images/
example/media/delusionalinsanity.images-latest/
example/media/delusionalinsanity_images_latest.zip
builddocs/
builddocs.zip
build/
dist/
src/django_dash.egg-info
example/example/local_settings.py