include README.rst
include LICENSES.rst
include LICENSE_GPL2.0.txt
include LICENSE_LGPL_2.1.txt
include CHANGELOG.rst
include CREDITS.rst

recursive-include src/dash/locale/nl *
recursive-include src/dash/locale/ru *
recursive-include src/dash/templates *
recursive-include src/dash/static *

recursive-include src/dash/contrib/layouts/android/templates *
recursive-include src/dash/contrib/layouts/android/static *

recursive-include src/dash/contrib/layouts/bootstrap2/templates *
recursive-include src/dash/contrib/layouts/bootstrap2/static *

#recursive-include src/dash/contrib/layouts/bootstrap3/templates *
#recursive-include src/dash/contrib/layouts/bootstrap3/static *

recursive-include src/dash/contrib/layouts/windows8/templates *
recursive-include src/dash/contrib/layouts/windows8/static *

recursive-include src/dash/contrib/plugins/dummy/templates *
recursive-include src/dash/contrib/plugins/dummy/static *

recursive-include src/dash/contrib/plugins/image/templates *
recursive-include src/dash/contrib/plugins/image/static *

recursive-include src/dash/contrib/plugins/memo/templates *

#recursive-include src/dash/contrib/plugins/news/templates *
#recursive-include src/dash/contrib/plugins/news/static *

recursive-include src/dash/contrib/plugins/rss_feed/templates *
recursive-include src/dash/contrib/plugins/rss_feed/static *

recursive-include src/dash/contrib/plugins/url/templates *
recursive-include src/dash/contrib/plugins/url/static *

recursive-include src/dash/contrib/plugins/video/templates *
recursive-include src/dash/contrib/plugins/video/static *

recursive-include src/dash/contrib/plugins/weather/templates *
recursive-include src/dash/contrib/plugins/weather/static *

recursive-include src/dash/contrib/apps/public_dashboard/templates *