{% extends "registration/registration_base.html" %}

{% load i18n %}

{% block page-title %}{% trans "Password reset complete" %}{% endblock page-title %}

{% block body-attrs %} class="standalone"{% endblock body-attrs %}

{% block content %}
{% url 'auth_login' as auth_login_url %}
<div class="generic-content-wrapper">
    <div class="wrapper-bg"></div>

    <h2 class="content-title">{% trans "Password reset complete" %}</h2>

    <div class="content-body">
        <p>{% trans "Your password has been reset!" %}</p>
        <p>
            {% blocktrans %}You may now <a href="{{ auth_login_url }}">log in</a>.{% endblocktrans %}
        </p>
    </div>
</div>
{% endblock content %}
