{% load i18n %}

<div class="generic-content-wrapper">
    <div class="wrapper-bg"></div>

    <h2 class="content-title">{% trans "Register for an account" %}</h2>

    <div class="content-body">
        <form method="post" action="{{ request.path }}" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="content-listing generic-form">
                {% include "dash/snippets/generic_form_snippet.html" %}
                <li class="buttons">
                    <div>
                        <button type="submit">{% trans "Send activation email" %}</button>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>