/*
    Document   : dash_dashed_borders.css
    Created on : Nov 09, 2013, 13:23:26PM
    Author     : Artur Barseghyan (artur.barseghyan@gmail.com)
    Description:
        `django-dash` dashed borders.
*/

.placeholder .empty-widget-cell,
.placeholder .plugin {
    border-left: #ddd 1px dashed;
    border-right: #ddd 1px dashed;
    border-top: #ddd 1px dashed;
    border-bottom: #ddd 1px dashed;
}
