{% load i18n %}
<div class="generic-content-wrapper">
    <div class="wrapper-bg"></div>
    <h2 class="content-title">{% trans "Delete dashboard workspace" %}</h2>

    <div class="content-body">
        <form method="post" action="{% url 'dash.delete_dashboard_workspace' workspace.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="content-listing generic-form">
                <li>
                    <h3>{% blocktrans with workspace.name as workspace_name %}Are you sure you want to delete the dashboard workspace {{ workspace_name }}?{% endblocktrans%}</h3>
                </li>
                <li class="buttons">
                    <div>
                        <button type="submit" name="delete">{% trans "Delete" %}</button>
                        <input type="hidden" name="next" value="{% url 'dash.edit_dashboard' workspace.slug %}" />
                        <button type="submit">{% trans "Cancel" %}</button>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
