import os

from .helpers import PROJECT_DIR

DEBUG = True
DEBUG_TOOLBAR = True
DEBUG_TEMPLATE = True
# TEMPLATE_DEBUG = DEBUG
DEV = True

DATABASES = {
    'default': {
        # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'ENGINE': 'django.db.backends.sqlite3',
        # Or path to database file if using sqlite3.
        'NAME': PROJECT_DIR(os.path.join('..', '..', 'db', 'example.db')),
        # The following settings are not used with sqlite3:
        'USER': '',
        'PASSWORD': '',
        # Empty for localhost through domain sockets or '127.0.0.1' for
        # localhost through TCP.
        'HOST': '',
        # Set to empty string for default.
        'PORT': '',
    }
}

INTERNAL_IPS = ('127.0.0.1',)

EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
EMAIL_FILE_PATH = PROJECT_DIR(os.path.join('..', '..', 'tmp'))

DEFAULT_FROM_EMAIL = '<no-reply@example.com>'

DASH_DEBUG = True

# DASH_ACTIVE_LAYOUT = 'windows8'

# Key for API weather
DASH_PLUGIN_WEATHER_API_KEY = ''
ALLOWED_HOSTS = ['localhost', '127.0.0.1', '0.0.0.0',]

FIREFOX_BIN_PATH = '/usr/lib/firefox47/firefox'
PHANTOM_JS_EXECUTABLE_PATH = ''

os.environ.setdefault(
    'DASH_SOURCE_PATH',
    os.path.join('home', 'user', 'repos', 'django-dash', 'src')
)
