# django-localeurl integration is fully supported for Python 2.6.* and 2.7.* and installs
# automatically when installing django-slim. If you are using Python 3, install a forked
# version of django-localeurl (since official version does not yet have support for Python 3).
-e hg+https://bitbucket.org/barseghyanartur/django-localeurl@stable#egg=django-localeurl