{% extends "registration/registration_base.html" %}

{% load i18n %}

{% block page-title %}{% trans "Password changed" %}{% endblock page-title %}

{% block body-attrs %} class="standalone"{% endblock body-attrs %}

{% block content %}
<div class="generic-content-wrapper">
    <div class="wrapper-bg"></div>

    <h2 class="content-title">{% trans "Password changed" %}</h2>

    <div class="content-body">
        <p>{% trans "Password successfully changed!" %}</p>
    </div>
</div>
{% endblock content %}
