{% extends "registration/registration_base.html" %}

{% load i18n %}

{% block page-title %}{% trans "Confirm password reset" %}{% endblock page-title %}

{% block body-attrs %} class="standalone"{% endblock body-attrs %}

{% block content %}
<div class="generic-content-wrapper">
    <div class="wrapper-bg"></div>

    <h2 class="content-title">{% trans "Confirm password reset" %}</h2>

    <div class="content-body">
        <p>{% trans "Enter your new password below to reset your password:" %}</p>
        <form method="post" action="{{ request.path }}" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="content-listing generic-form">
                {% include "dash/snippets/generic_form_snippet.html" %}
                <li class="buttons">
                    <div>
                        <button type="submit">{% trans "Set password" %}</button>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock content %}
